/* Created by: Yoochan Han
* Created on: Mar 2024
* This file contains the CSS for index.html */


body {
  background-color: aqua;
  color: black;
}

p {
  font-size: 2rem;
  color: black;
}

.right-image {
  width: 512px;
  height: 512px;
  float: right;
}